/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #fafaff;
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
}

.bodyAlt{
    height: 100vh;
}

/* font-family: 'Playfair Display SC', serif; */

/* ENCABEZADO COMUN */
.encabezado{
    padding: 0.938rem;  
    position: relative;
}

.encabezadoPrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    display: inline-block;
    width: 300px;
}

.imagen{
    width: auto;
    height: 85px;

}

.encabezado__nav{
    display: inline-block;
}

.encabezado__lista{
    list-style: none;
    display: flex;

}

.encabezado__item{
    display: inline-block;
    padding: 0.625rem;
    margin-left: 0.313rem;
}

.encabezado__item--link{
    text-decoration: none;
    color: #f0f1f3;
    font-size: 0.938rem;
}

.encabezado__item--linkAlt{
    text-decoration: none;
    color:  #101010;
    font-size: 0.938rem; 
    font-weight: bold;
}

.encabezadoAlt{
    background: rgb(240,241,243);
    background: radial-gradient(circle, rgba(240,241,243,1) 8%, rgba(227,227,228,1) 76%, rgba(213,213,213,1) 92%);
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px 0 #000000;
    border-radius: 10px;
    padding: 0.938rem;
    display: flex;
}



/* HEROSECTION */
.hero{
    background-image: url("img/herosection.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero__text{
    color: #fafaff;
    text-align: center;
    font-size: 3.2rem;
    height: 26.5rem;
    position: relative;display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__text--titulo{
    padding: 2rem;    
    position: absolute;
    left: 3rem;
}

.hero__text--btn{
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 25.75rem;
}

.hero__btn{
    text-decoration: none;
    border-radius: 0.313rem;
    text-transform: uppercase;
    color: #f0f1f3;
    background-color: #e55947;
    padding: 0.50rem 0.75rem;
    transition: transform 1s;
    transform: scale(1 , 1);
}

.hero__btn:hover{
    transform: scale(1.1);
}


h1{
    font-size: 4.5rem;
}

/* CATALOGO */

.catalogo{
    padding: 0.938rem;  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogo__text{
    text-align: center;
    color: #101010;
    font-size: 3rem;
}

.catalogo__content{
    position: relative;
    margin: 0.625rem 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.catalogo__casa{
    background-color: #f0f1f3;
    position: relative;
    display: inline-block;
    height: 440px;
    width: 370px;
    margin: 0 10px;
    transition: transform 0.5s;
    transform: scale(1,1);
}

.catalogo__casa:hover {
    transform: scale(1.1);
}

.catalogo__casa--imagen{
    position: relative;
}

.catalogo__imagen{ 
    width: 100%;
    position: absolute;
}

.catalogo__casa--text{
padding: 20px;
position: absolute;
bottom: 0;
width: 100%;
height: 160px;
}

.catalogo__casa--text h2{
    color: #606060;
    font-size: 1.5rem;
    text-align: center;
}

.catalogo__casa--text p{
    color: #606060;
    font-size: 1.25rem;
    text-align: center;
}

.hero__text--btnCatalogo{
    padding: 1rem 0; 
    position: absolute;
    bottom: 5px;
    left: 34.314rem;
}
.catalogo__btn{
    text-decoration: none;
    border-radius: 0.313rem;
    text-transform: uppercase;
    color: #f0f1f3;
    background-color: #e55947;
    padding: 0.50rem 0.75rem;
}
/* NOSOTROS INDEX */

.informacion{
    position: relative;
    padding: 0.938rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion__text{
    text-align: center;
    font-size: 3rem;
    color: #101010;
}

.informacion__content{
    position: relative;
    margin: 30px 0;
    display: flex;

}

.informacion__content--iconos{
    background-color: #f0f1f3;
    margin: 15px;
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
}

.informacion__logo{
    display: inline;
}

.informacion__logo--img{
    padding: 20px 0;
    width: 100%;
    height: 200px;
}

.informacion__logo--text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER */

.footer{
    background: rgb(120,132,142);
    background: radial-gradient(circle, rgba(120,132,142,1) 13%, rgba(87,102,114,1) 71%, rgba(76,92,104,1) 93%);
    color: #f0f1f3;
    position: relative;
    padding: 0.938rem;
}

.footer__seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer__item{
    display: flex;
    margin: 5px;
}

.item{  width: 50px;
}

.footer__nv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer__list{
    list-style: none;
    display: flex;
}

.footer__logo{
    display: inline;
}

.logoFooter{
    display: inline-block;
    width: 300px;
}

footer section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ANUNCIOS */

.catalogoAlt{
    height: 100%;
}

/* CONTACTO */

.imagenContacto{
    width: 97vw;
}

.contacto{
    margin: 100px;
}

.contacto fieldset{
    background-color: #f0f1f3;
    color:#101010;
    padding: 20px;
    font-weight: bold;
}

.contacto legend{
    color: #606060;
    font-family: 'Playfair Display SC', serif;
    font-size: 40px;
    font-weight: 700;
}

.contacto__btn{
    font-size: 1rem;
    background-color: #e55947;
    border-radius: 0.313rem;
    padding:10px;
    color: #dcdcdd;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: bold;
}

/* EMPRESA */

.contenedorEmpresa__titulo, .tituloTestimonio, .tituloContacto{
    text-align: center;
    color: #101010;
    font-size: 3rem;
}

.contenedorEmpresa__text, .textTestimonio{
    text-align: center;
    color: #606060;
    font-weight: bold;
}

.contenedorEmpresa__text h2{
    font-size: 3rem;
}

.contenedorEmpresa__imagen{
    width: 600px;
}

.contenedorEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TESTIMONIOS */

.imagenTestimonio{
    width: 90vw;
}

.seccionTestimonio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    height: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px){
    .encabezadoPrincipal{
        flex-direction: column;
    }
    .logo{
        max-width: 100%;
    }
    h1{
        font-size: 4rem;
    }
    .list-style{
        flex-direction: column;
       }
    .catalogo__content{
        flex-direction: column;
        align-items: center;
        height: 100%;
       }
    .catalogo__casa{
        margin: 5px 10px;
    }
    footer section{
        flex-wrap: wrap;
       }
    .informacion__content{
        flex-direction: column;
       }
    .encabezadoAlt{
        height: auto;
    }
    .catalogo__content{
        flex-wrap: wrap;
        align-items: center;
    }
    .encabezadoAlt{
        height: auto;
    }

}

@media screen and (max-width: 768px){
    .list-style{
     flex-direction: column;
    }
    .catalogo__content{
        flex-direction: column;
    }
    footer section{
        flex-wrap: wrap;
    }
    .informacion__content{
        flex-direction: column;
    }
    h1{
        font-size: 3.8rem;
    }
    .hero__text--btn{
        left: 50%;
    }
    .hero__text--btnCatalogo{
        left: 50%;
    }
    .encabezadoAlt{
        height: auto;
    }
    .catalogo__content{
        flex-direction: column;
        align-items: center;
    }
    .encabezadoAlt{
        height: auto;
    }
    
}

@media screen and (max-width: 550px){
    .list-style{
        flex-direction: column;
    }
    .catalogo__content{
        flex-direction: column;
    }
    footer section{
        flex-direction: column;
    }
    .informacion__content{
        flex-direction: column;
    }
    h1{
        font-size: 3.5rem;
    }
    .encabezado__lista{
        flex-direction: column;
    }
    .hero__text--btn{
        left: 25%;
    }
    .hero__text--btnCatalogo{
        left: 25%;
    }
    .encabezadoAlt{
        height: auto;
    }
    .catalogoAlt{
        height: 100%;
    }
    .catalogo__content{
        flex-direction: column;
        align-items: center;
    }
    .encabezadoAlt{
        height: auto;
    }
}